<%- include('../partials/header.ejs') %>

<main class="container">
    <div class="row">
        <div class="col-md-12"> <!-- Adjusted for full width -->
            <h1 class="text-center"><%= title %></h1>
            <a href="/eidgiftlist/add" class="btn btn-primary" role="button">
                <i class="fas fa-plus-circle"></i> Add Gift
            </a>
            <table class="table mt-3"> <!-- Removed extra classes for a cleaner look -->
                <thead>
                    <tr>
                        <th class="text-center">Item</th>
                        <th class="text-center">Amount</th>
                        <th class="text-center">Price</th>
                        <th class="text-center">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <% eidgiftlist.forEach(function(gift) { %> <!-- Using forEach loop for simplicity -->
                        <tr>
                            <td class="text-center"><%= gift.Item %></td>
                            <td class="text-center"><%= gift.Amount %></td>
                            <td class="text-center"><%= gift.Price %></td>
                            <td class="text-center">
                                <a href="/eidgiftlist/edit/<%= gift._id %>" class="btn btn-primary btn-sm">
                                    <i class="fas fa-pencil-alt"></i> Edit
                                </a>
                                <button onclick="confirmDelete('<%= gift._id %>');" class="btn btn-danger btn-sm">
                                    <i class="fas fa-trash-alt"></i> Delete
                                </button>
                            </td>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
        </div>
    </div>
</main>

<script>
    function confirmDelete(id) {
        if (confirm('Are you sure you want to delete this gift?')) { // Updated confirmation message
            window.location.href = '/eidgiftlist/delete/' + id;
        }
    }
</script>

<%- include('../partials/footer.ejs') %>
